# Tratamento e analise dos dados

## 1. Importações das bibliotecas

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Visualizando e analisando o Dataframe

In [9]:
df = pd.read_csv("./datasets/vendas_raw.csv" , sep=",", encoding="utf-8")

In [10]:
df.head(10)

,ID,Data,Produto,Categoria,Quantidade,Preço,Pagamento
0,1,2023-07-09,Smartphone,Móveis de Escritório,2.0,1942.25,Dinheiro
1,2,2023-11-22,Smartphone,Acessórios,6.0,1401.37,NaN
2,3,2023-02-10,Cadeira Gamer,Informática,6.0,1752.50,Crédito
3,4,2023-05-27,Mouse,Móveis de Escritório,5.0,4088.28,Débito
4,5,2023-07-23,Mouse,NaN,7.0,4937.01,Débito
5,6,2023-12-16,Monitor,Periféricos,5.0,3523.33,Débito
6,7,2023-11-13,Monitor,Informática,6.0,315.46,Débito
7,8,NaN,Cadeira Gamer,Informática,2.0,4368.79,Débito
8,9,2023-05-11,Smartphone,Acessórios,NaN,1650.46,Débito
9,10,2023-03-14,Mouse,Informática,6.0,4855.65,Débito

In [14]:
df.tail(10)

,ID,Data,Produto,Categoria,Quantidade,Preço,Pagamento
3080,1843,NaN,Fone de Ouvido,Móveis de Escritório,8.0,2859.43,Boleto
3081,1831,2023-01-27,Teclado,Periféricos,2.0,4231.30,Débito
3082,795,2023-11-16,Teclado,Informática,8.0,4799.35,Crédito
3083,1821,2023-07-01,Mouse,Acessórios,4.0,4046.23,Crédito
3084,2002,2023-03-29,Fone de Ouvido,Móveis de Escritório,4.0,1710.63,Débito
3085,145,2023-01-22,Impressora,Periféricos,9.0,2374.29,Dinheiro
3086,2526,NaN,NaN,Acessórios,2.0,4854.70,NaN
3087,1331,2023-09-09,Monitor,Periféricos,7.0,4361.98,Dinheiro
3088,2478,2023-08-23,Notebook,Móveis de Escritório,2.0,1090.65,Dinheiro
3089,2882,2023-05-05,Mouse,Acessórios,5.0,2308.12,Pix

In [15]:
df.describe()

                ID   Quantidade        Preço
count  3090.000000  2954.000000  2934.000000
mean   1497.725890     5.028775  2501.488340
std     867.334934     2.576861  1413.138705
min       1.000000     1.000000    50.510000
25%     747.000000     3.000000  1315.392500
50%    1496.500000     5.000000  2494.935000
75%    2250.750000     7.000000  3683.882500
max    3000.000000     9.000000  4999.410000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090 entries, 0 to 3089
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3090 non-null   int64
 1   Data        2936 non-null   object
 2   Produto     2942 non-null   object
 3   Categoria   2916 non-null   object
 4   Quantidade  2954 non-null   float64
 5   Preço       2934 non-null   float64
 6   Pagamento   2954 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 169.1+ KB

## Tratamento de valores faltantes

## Remoção de duplicatas

## Conversão de tipos de dados

## Salvando o dataset limpo em um arquivo data_clean.csv