# Tratamento e analise dos dados

## 1. Importações das bibliotecas

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Visualizando e analisando o Dataframe

In [63]:
df = pd.read_csv("./Dataframes/vendas_raw.csv" , sep=",", encoding="utf-8")

In [64]:
df.head(10)

,ID,Data,Produto,Categoria,Quantidade,Preço,Pagamento
0,1,2023-07-09,Parafusadeira,Ferramentas,66.0,4763.78,Carteira Digital
1,2,2023-11-22,Serrote,Ferramentas,10.0,NaN,Pix
2,3,2023-02-10,Regador,Jardinagem,56.0,3572.49,Pix
3,4,2023-05-27,Cimento,Construção e Estrutura,59.0,1037.29,Pix
4,5,2023-07-23,Chave de Fenda,Ferramentas,77.0,2157.34,Dinheiro
5,6,2023-12-16,Máscara Respiratória,Segurança e EPI,5.0,1584.25,Crédito
6,7,2023-11-13,Pá,Jardinagem,72.0,2243.43,Boleto
7,8,2023-08-24,Capacete,Segurança e EPI,34.0,2752.94,Pix
8,9,2023-05-11,Disjuntor,Elétrica,51.0,876.90,Crédito
9,10,2023-03-14,Argamassa,Construção e Estrutura,50.0,1043.67,Crédito

In [65]:
df.tail(10)

,ID,Data,Produto,Categoria,Quantidade,Preço,Pagamento
3080,1843,2023-12-05,Sementes de Grama,Jardinagem,51.0,4126.61,Transferência Bancária
3081,1831,2023-01-27,Alicate,Ferramentas,81.0,2916.26,Dinheiro
3082,795,2023-11-16,Lâmpada LED,Elétrica,58.0,3073.08,Débito
3083,1821,2023-07-01,Adubo,Jardinagem,55.0,1231.04,Carteira Digital
3084,2002,2023-03-29,Areia,Construção e Estrutura,92.0,NaN,Dinheiro
3085,145,2023-01-22,Rolo de Pintura,Tintas e Acabamento,47.0,2307.31,Crédito
3086,2526,2023-08-29,Caixa de água,NaN,12.0,1901.79,Pix
3087,1331,2023-09-09,Furadeira,Ferramentas,89.0,3897.37,Dinheiro
3088,2478,2023-08-23,Colete Reflexivo,Segurança e EPI,77.0,2524.86,Dinheiro
3089,2882,2023-05-05,Registro de Água,Hidráulica,NaN,3462.50,Crédito

In [49]:
df.describe(exclude ='object')

                ID   Quantidade        Preço
count  3090.000000  2939.000000  2932.000000
mean   1497.725890    50.455597  2511.913128
std     867.334934    29.475324  1425.772915
min       1.000000     1.000000    51.030000
25%     747.000000    24.000000  1246.022500
50%    1496.500000    51.000000  2581.105000
75%    2250.750000    77.000000  3717.120000
max    3000.000000   100.000000  4996.690000

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090 entries, 0 to 3089
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3090 non-null   int64
 1   Data        2946 non-null   object
 2   Produto     2942 non-null   object
 3   Categoria   2951 non-null   object
 4   Quantidade  2939 non-null   float64
 5   Preço       2932 non-null   float64
 6   Pagamento   2930 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 169.1+ KB

## Tratamento de valores faltantes

In [67]:

df.isnull().sum().sum()

np.int64(900)

In [69]:
porcentagem_nulos_total = df.isnull().sum() / len(df) * 100


print("Porcentagem de Nulos por Coluna:")
print(porcentagem_nulos_total.sort_values(ascending=False))

Porcentagem de Nulos por Coluna:
Pagamento     5.177994
Preço         5.113269
Quantidade    4.886731
Produto       4.789644
Data          4.660194
Categoria     4.498382
ID            0.000000
dtype: float64

In [70]:
df.isnull().sum().sum() / len (df) * 100

np.float64(29.126213592233007)

In [ ]:
df["Categoria"] = df["Categoria"].fillna("Categoria desconhecida")

df["Pagamento"] = df["Pagamento"].fillna("Não informado")

df["Quantidade"] = df["Quantidade"].fillna(df["Quantidade"].median())

df["Data"] = df["Data"].fillna(df["Data"].mode()[0])

df["Produto"] = df["Produto"].fillna("Produto não identificado")

df["Preço"] = df["Preço"].fillna(df["Preço"].median())

In [97]:
porcentagem_nulos_total = df.isnull().sum() / len(df) * 100


print("Porcentagem de Nulos por Coluna:")
print(porcentagem_nulos_total.sort_values(ascending=False))

Porcentagem de Nulos por Coluna:
ID            0.0
Data          0.0
Produto       0.0
Categoria     0.0
Quantidade    0.0
Preço         0.0
Pagamento     0.0
dtype: float64

## Remoção de duplicatas

In [72]:
df.duplicated().sum()

np.int64(90)

In [73]:
df_duplicadas = df[df.duplicated()]

df_duplicadas

,ID,Data,Produto,Categoria,Quantidade,Preço,Pagamento
3000,1802,2023-12-06,NaN,Ferramentas,90.0,1988.08,Dinheiro
3001,1191,2023-04-15,Botina,Segurança e EPI,32.0,1987.72,Carteira Digital
3002,1818,2023-12-03,Protetor Auricular,Segurança e EPI,62.0,2359.80,Carteira Digital
3003,252,2023-01-23,Capacete,Segurança e EPI,10.0,4704.53,Boleto
3004,2506,2023-08-05,Lanterna,Elétrica,2.0,1554.95,Dinheiro
...,...,...,...,...,...,...,...
3085,145,2023-01-22,Rolo de Pintura,Tintas e Acabamento,47.0,2307.31,Crédito
3086,2526,2023-08-29,Caixa de água,NaN,12.0,1901.79,Pix
3087,1331,2023-09-09,Furadeira,Ferramentas,89.0,3897.37,Dinheiro
3088,2478,2023-08-23,Colete Reflexivo,Segurança e EPI,77.0,2524.86,Dinheiro
3089,2882,2023-05-05,Registro de Água,Hidráulica,NaN,3462.50,Crédito

In [74]:
df_limpo = df.drop_duplicates(keep='first').copy()

df_limpo.reset_index(drop=True, inplace=True)

In [75]:
df_limpo.duplicated().sum()

np.int64(0)

## Conversão de tipos de dados

In [76]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3000 non-null   int64
 1   Data        2860 non-null   object
 2   Produto     2857 non-null   object
 3   Categoria   2864 non-null   object
 4   Quantidade  2853 non-null   float64
 5   Preço       2844 non-null   float64
 6   Pagamento   2844 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 164.2+ KB

In [59]:
df_limpo['Data'] = pd.to_datetime(df_limpo['Data'])
df_limpo['Categoria'] = df_limpo['Categoria'].astype('category')
df_limpo['Pagamento'] = df_limpo['Pagamento'].astype('category')

In [60]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3000 non-null   int64
 1   Data        2860 non-null   datetime64[ns]
 2   Produto     2857 non-null   object
 3   Categoria   2864 non-null   category
 4   Quantidade  2853 non-null   float64
 5   Preço       2844 non-null   float64
 6   Pagamento   2844 non-null   category
dtypes: category(2), datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 123.9+ KB

## Salvando o dataset limpo em um arquivo data_clean.csv

In [61]:
output_dir = "Dataframes"
output_path = os.path.join(output_dir, "data_clean.csv")

try:
    # 1. Garante que o diretório de saída existe
    os.makedirs(output_dir, exist_ok=True)

    # 2. Tenta salvar o arquivo
    df_limpo.to_csv(output_path, index=False)
    
    # 3. Se tudo deu certo, imprime a mensagem de sucesso
    print(f"✅ DataFrame salvo com sucesso em '{output_path}'.")

except FileNotFoundError:
    # Captura erros comuns se o caminho for muito longo ou malformado
    print(f"❌ Erro: O caminho '{output_path}' não foi encontrado ou está muito longo.")

except PermissionError:
    # Captura erros de permissão, comuns em discos restritos ou sistemas operacionais
    print(f"❌ Erro de Permissão: Não foi possível escrever no diretório '{output_dir}'. Verifique as permissões.")

except Exception as e:
    # Captura qualquer outro erro inesperado (erro de disco, etc.)
    print(f"❌ Ocorreu um erro inesperado ao salvar o arquivo: {e}")

✅ DataFrame salvo com sucesso em 'Dataframes\data_clean.csv'.