# Tratamento dos dados

## 1. Importações das bibliotecas

In [28]:
import pandas as pd
import os

print("Bibliotecas importadas com sucesso.")

Bibliotecas importadas com sucesso.

## Visualizando e analisando o Dataframe

In [29]:
df = pd.read_csv("./Dataframes/vendas_raw.csv" , sep=",", encoding="utf-8")

print("DataFrame carregado com sucesso.")

DataFrame carregado com sucesso.

In [30]:

df.head(10)

,id,data,produto,categoria,quantidade,pagamento,preco_unitario
0,1,2023-07-09,Parafusadeira,Ferramentas,66.0,Crédito,429.0
1,2,2023-11-22,Serrote,Ferramentas,10.0,Boleto,64.9
2,3,2023-02-10,Regador (10L),Jardinagem,56.0,Crédito,39.9
3,4,2023-05-27,Cimento (50kg),Construção e Estrutura,59.0,Débito,39.9
4,5,2023-07-23,Chave de Fenda,Ferramentas,77.0,Crédito,24.5
5,6,2023-12-16,Máscara Respiratória,Segurança e EPI,5.0,Dinheiro,29.9
6,7,2023-11-13,Pá,Jardinagem,72.0,Carteira Digital,74.9
7,8,2023-08-24,Capacete,Segurança e EPI,34.0,Dinheiro,NaN
8,9,2023-05-11,Disjuntor,Elétrica,51.0,Boleto,45.0
9,10,2023-03-14,Argamassa (20kg),Construção e Estrutura,50.0,Carteira Digital,24.9

In [31]:

df.tail(10)

,id,data,produto,categoria,quantidade,pagamento,preco_unitario
3050,1091,2023-03-12,Protetor Auricular,Segurança e EPI,44.0,Dinheiro,9.9
3051,2112,2023-12-25,Mangueira Jardim (30m),Jardinagem,5.0,Boleto,69.9
3052,204,2023-02-19,Óculos de Proteção,Segurança e EPI,56.0,Dinheiro,24.9
3053,2419,2023-03-06,Bomba de água,Hidráulica,81.0,Carteira Digital,899.0
3054,153,2023-10-26,Regador (10L),Jardinagem,50.0,Carteira Digital,39.9
3055,2902,2023-08-25,Lixa (Folha),Tintas e Acabamento,59.0,Crédito,4.9
3056,1360,2023-11-16,Bloco de Concreto,Construção e Estrutura,50.0,Crédito,6.0
3057,773,2023-09-18,Selador (5L),Tintas e Acabamento,28.0,Carteira Digital,99.9
3058,2679,2023-08-19,Disjuntor,Elétrica,82.0,Pix,45.0
3059,1002,2023-05-06,Mangueira Jardim (30m),Jardinagem,54.0,Transferência Bancária,69.9

In [32]:

df.describe(exclude ='object')

                id   quantidade  preco_unitario
count  3060.000000  3037.000000     3022.000000
mean   1497.424183    50.663813      106.317009
std     867.270819    29.481352      178.800982
min       1.000000     1.000000        2.000000
25%     747.000000    24.000000       17.900000
50%    1495.500000    51.000000       39.900000
75%    2249.250000    77.000000       89.900000
max    3000.000000   100.000000      899.000000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3060 non-null   int64
 1   data            3033 non-null   object
 2   produto         3034 non-null   object
 3   categoria       3023 non-null   object
 4   quantidade      3037 non-null   float64
 5   pagamento       3029 non-null   object
 6   preco_unitario  3022 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 167.5+ KB

## Remoção de duplicatas

In [34]:
df.duplicated().sum()

np.int64(60)

In [35]:
# Verificando em dataframe (boa prática antes de excluir quando for poucos dados)

df_duplicadas = df[df.duplicated()]

df_duplicadas

,id,data,produto,categoria,quantidade,pagamento,preco_unitario
3000,1802,2023-12-06,Alicate,Ferramentas,90.0,Carteira Digital,41.9
3001,1191,2023-04-15,Botina,Segurança e EPI,32.0,Dinheiro,149.0
3002,1818,2023-12-03,Protetor Auricular,Segurança e EPI,62.0,Crédito,9.9
3003,252,2023-01-23,Capacete,Segurança e EPI,10.0,Carteira Digital,49.9
3004,2506,2023-08-05,Lanterna,Elétrica,2.0,Crédito,59.9
3005,1118,2023-05-21,Pá,Jardinagem,28.0,Dinheiro,74.9
3006,1412,2023-12-09,Massa Corrida (25kg),Tintas e Acabamento,18.0,Transferência Bancária,89.9
3007,2114,2023-06-08,Selador (5L),Tintas e Acabamento,95.0,Boleto,99.9
3008,409,2023-12-25,Furadeira,Ferramentas,78.0,Pix,499.9
3009,2580,2023-06-14,Martelo,Ferramentas,16.0,Boleto,79.9
3010,2255,2023-09-17,Máscara Respiratória,Segurança e EPI,30.0,Boleto,29.9
3011,53,2023-09-21,Tinta Acrílica (18L),NaN,5.0,Crédito,249.0
3012,645,2023-09-26,Massa Corrida (25kg),Tintas e Acabamento,83.0,Transferência Bancária,89.9
3013,1764,2023-12-29,Areia (20kg),Construção e Estrutura,59.0,Dinheiro,14.9
3014,2777,2023-08-15,Caixa de água (500L),Hidráulica,56.0,Boleto,799.0
3015,901,2023-02-12,Óculos de Proteção,Segurança e EPI,22.0,Transferência Bancária,24.9
3016,1074,2023-12-25,Luva de Proteção,Segurança e EPI,50.0,Boleto,19.9
3017,473,2023-03-21,Tinta Acrílica (18L),Tintas e Acabamento,82.0,Crédito,249.0
3018,2739,2023-01-12,Argamassa (20kg),Construção e Estrutura,63.0,Crédito,24.9
3019,2547,2023-01-29,Bomba de água,Hidráulica,54.0,Transferência Bancária,899.0
3020,45,2023-11-09,Rolo de Pintura,Tintas e Acabamento,36.0,Transferência Bancária,24.9
3021,290,2023-01-27,Verga Metálica (2m),Construção e Estrutura,84.0,Débito,119.0
3022,913,2023-01-11,Lixadeira,Ferramentas,78.0,Boleto,389.0
3023,2084,2023-12-04,Caixa de água (500L),Hidráulica,13.0,Transferência Bancária,799.0
3024,1361,2023-04-13,Trena,Ferramentas,63.0,Crédito,32.0
3025,2896,2023-05-19,Cimento (50kg),Construção e Estrutura,82.0,Boleto,39.9
3026,2604,2023-10-04,Disjuntor,Elétrica,21.0,Pix,45.0
3027,1227,2023-08-07,Fio Elétrico (100m),Elétrica,26.0,Carteira Digital,3.5
3028,297,2023-11-18,Trena,Ferramentas,77.0,Transferência Bancária,32.0
3029,1242,NaN,Tomada,Elétrica,37.0,Boleto,9.9
3030,1006,2023-04-08,Colete Reflexivo,Segurança e EPI,67.0,Transferência Bancária,39.9
3031,1666,2023-06-09,Chave de Fenda,Ferramentas,86.0,Dinheiro,24.5
3032,747,2023-11-07,Chave de Fenda,Ferramentas,42.0,Boleto,24.5
3033,2852,2023-05-28,Martelo,Ferramentas,10.0,Débito,79.9
3034,292,2023-11-26,Pá,Jardinagem,1.0,Transferência Bancária,74.9
3035,782,2023-12-12,Tesoura de Poda,Jardinagem,96.0,Transferência Bancária,59.9
3036,2145,2023-12-29,Lâmpada LED,Elétrica,96.0,Pix,14.9
3037,323,2023-07-20,Adubo (5kg),Jardinagem,93.0,Crédito,49.9
3038,299,2023-09-16,Registro de Água,Hidráulica,37.0,Carteira Digital,54.9
3039,1299,2023-03-01,Sementes de Grama (1kg),Jardinagem,84.0,Carteira Digital,19.9
3040,195,2023-10-18,Tomada,Elétrica,72.0,Transferência Bancária,9.9
3041,64,2023-06-09,Argamassa (20kg),Construção e Estrutura,73.0,Crédito,24.9
3042,394,2023-11-21,Furadeira,Ferramentas,67.0,Pix,499.9
3043,728,2023-07-07,Fio Elétrico (100m),Elétrica,90.0,Carteira Digital,3.5
3044,1584,2023-08-24,Colete Reflexivo,Segurança e EPI,94.0,Pix,39.9
3045,1548,2023-09-07,Parafusadeira,Ferramentas,69.0,Crédito,429.0
3046,2426,2023-10-21,Furadeira,Ferramentas,35.0,Boleto,499.9
3047,15,2023-04-09,Capacete,Segurança e EPI,20.0,Transferência Bancária,49.9
3048,2568,2023-12-01,Pá,Jardinagem,1.0,Débito,74.9
3049,1601,2023-11-17,Tomada,Elétrica,40.0,NaN,9.9
3050,1091,2023-03-12,Protetor Auricular,Segurança e EPI,44.0,Dinheiro,9.9
3051,2112,2023-12-25,Mangueira Jardim (30m),Jardinagem,5.0,Boleto,69.9
3052,204,2023-02-19,Óculos de Proteção,Segurança e EPI,56.0,Dinheiro,24.9
3053,2419,2023-03-06,Bomba de água,Hidráulica,81.0,Carteira Digital,899.0
3054,153,2023-10-26,Regador (10L),Jardinagem,50.0,Carteira Digital,39.9
3055,2902,2023-08-25,Lixa (Folha),Tintas e Acabamento,59.0,Crédito,4.9
3056,1360,2023-11-16,Bloco de Concreto,Construção e Estrutura,50.0,Crédito,6.0
3057,773,2023-09-18,Selador (5L),Tintas e Acabamento,28.0,Carteira Digital,99.9
3058,2679,2023-08-19,Disjuntor,Elétrica,82.0,Pix,45.0
3059,1002,2023-05-06,Mangueira Jardim (30m),Jardinagem,54.0,Transferência Bancária,69.9

In [36]:
# Excluindo as duplicadas e assumindo o df_limpo como ariavel principal do dataframe
# .copy() evita warnings futuros nas visualizações, pois gera uma cópia do dataframe

df_limpo = df.drop_duplicates(keep='first').copy()

df_limpo.reset_index(drop=True, inplace=True)

In [37]:
df_limpo.duplicated().sum()

np.int64(0)

## Tratamento de valores faltantes

In [38]:

df_limpo.isnull().sum().sum()

np.int64(179)

In [39]:
# Visualizar os nulos por porncentagem é importante pois deve ter um limite de confiança
# Assumi o limite em 7%

porcentagem_nulos_total = df_limpo.isnull().sum() / len(df_limpo) * 100


print("Porcentagem de Nulos por Coluna:")
print(porcentagem_nulos_total.sort_values(ascending=False))

Porcentagem de Nulos por Coluna:
preco_unitario    1.266667
categoria         1.200000
pagamento         1.000000
data              0.866667
produto           0.866667
quantidade        0.766667
id                0.000000
dtype: float64

In [40]:
df_limpo.isnull().sum().sum() / len (df_limpo) * 100

np.float64(5.966666666666667)

In [41]:
# Inseri desconhecido, não informado, não identificado =  para não prejudicar os resultados.
# Data recebu o valor da moda.
# Preço recebeu a média de preço unitário por produto.

df_limpo["categoria"] = df_limpo["categoria"].fillna("Categoria desconhecida")

df_limpo["pagamento"] = df_limpo["pagamento"].fillna("Não informado")

df_limpo["quantidade"] = df_limpo["quantidade"].fillna(df_limpo["quantidade"].median())

df_limpo["data"] = df_limpo["data"].fillna(df_limpo["data"].mode()[0])

df_limpo["produto"] = df_limpo["produto"].fillna("Produto não identificado")

df_limpo['preco_unitario'] = df_limpo.groupby('produto')['preco_unitario'].transform(
    lambda x: x.fillna(x.median())
)

In [42]:
# Verificando se os nulos que foram excluidos

porcentagem_nulos_total = df_limpo.isnull().sum() / len(df_limpo) * 100


print("Porcentagem de Nulos por Coluna:")
print(porcentagem_nulos_total.sort_values(ascending=False))

Porcentagem de Nulos por Coluna:
id                0.0
data              0.0
produto           0.0
categoria         0.0
quantidade        0.0
pagamento         0.0
preco_unitario    0.0
dtype: float64

## Conversão de tipos de dados

In [43]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3000 non-null   int64
 1   data            3000 non-null   object
 2   produto         3000 non-null   object
 3   categoria       3000 non-null   object
 4   quantidade      3000 non-null   float64
 5   pagamento       3000 non-null   object
 6   preco_unitario  3000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 164.2+ KB

In [44]:
# Convertendo os dados necessários


df_limpo['data'] = pd.to_datetime(df_limpo['data'])

df_limpo['categoria'] = df_limpo['categoria'].astype('category')

df_limpo['pagamento'] = df_limpo['pagamento'].astype('category')

df_limpo['quantidade'] = df_limpo['quantidade'].astype('int64')

In [45]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3000 non-null   int64
 1   data            3000 non-null   datetime64[ns]
 2   produto         3000 non-null   object
 3   categoria       3000 non-null   category
 4   quantidade      3000 non-null   int64
 5   pagamento       3000 non-null   category
 6   preco_unitario  3000 non-null   float64
dtypes: category(2), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 123.9+ KB

In [46]:
df_limpo.head()

,id,data,produto,categoria,quantidade,pagamento,preco_unitario
0,1,2023-07-09,Parafusadeira,Ferramentas,66,Crédito,429.0
1,2,2023-11-22,Serrote,Ferramentas,10,Boleto,64.9
2,3,2023-02-10,Regador (10L),Jardinagem,56,Crédito,39.9
3,4,2023-05-27,Cimento (50kg),Construção e Estrutura,59,Débito,39.9
4,5,2023-07-23,Chave de Fenda,Ferramentas,77,Crédito,24.5

# Analise

In [47]:
# Criação da coluna de total de vendas

df_limpo['total_vendas'] = (df_limpo['quantidade'] * df_limpo['preco_unitario']).round(2)

print("Total de vendas por produto calculado com sucesso!")

df_limpo.head()

Total de vendas por produto calculado com sucesso!

,id,data,produto,categoria,quantidade,pagamento,preco_unitario,total_vendas
0,1,2023-07-09,Parafusadeira,Ferramentas,66,Crédito,429.0,28314.0
1,2,2023-11-22,Serrote,Ferramentas,10,Boleto,64.9,649.0
2,3,2023-02-10,Regador (10L),Jardinagem,56,Crédito,39.9,2234.4
3,4,2023-05-27,Cimento (50kg),Construção e Estrutura,59,Débito,39.9,2354.1
4,5,2023-07-23,Chave de Fenda,Ferramentas,77,Crédito,24.5,1886.5

In [48]:
# Verificando o produto com mais vendas por quantidade

maior_produto_vendas = df_limpo.groupby("produto")["quantidade"].sum().sort_values(ascending=False).head(1)

print(maior_produto_vendas)

produto
Parafusadeira    3991
Name: quantidade, dtype: int64

In [49]:
# Verificando o produto com mais vendas por receita

produto_maior_receita = df_limpo.groupby("produto")["total_vendas"].sum().sort_values(ascending=False).head(3)

print(produto_maior_receita)

produto
Caixa de água (500L)    2748560.0
Bomba de água           1940042.0
Parafusadeira           1712139.0
Name: total_vendas, dtype: float64

## Salvando o dataset limpo em um arquivo data_clean.csv

In [50]:
output_dir = "Dataframes"
output_path = os.path.join(output_dir, "data_clean.csv")

try:
    os.makedirs(output_dir, exist_ok=True)

    df_limpo.to_csv(output_path, index=False)
    
    print(f"DataFrame salvo com sucesso em '{output_path}'.")

except FileNotFoundError:
    print(f"Erro: O caminho '{output_path}' não foi encontrado ou está muito longo.")

except PermissionError:
    print(f"Erro de Permissão: Não foi possível escrever no diretório '{output_dir}'. Verifique as permissões.")

except Exception as e:
    print(f"Ocorreu um erro inesperado ao salvar o arquivo: {e}")

DataFrame salvo com sucesso em 'Dataframes\data_clean.csv'.